<!-- content @s -->
<div class="nk-content ">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Classrooms </h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                    <li>
                      <div class="drodown">
                        <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-toggle="dropdown"><em class="d-none d-sm-inline icon ni ni-filter-alt"></em><span>Filtered By</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="link-list-opt no-bdr">
                            <li><a href="#"><span>Web Development</span></a></li>
                            <li><a href="#"><span>Mobile Application</span></a></li>
                            <li><a href="#"><span>Graphics Design</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="nk-block-tools-opt"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate"><em class="icon ni ni-plus"></em><span>Add Category</span></a></li>
                  </ul>
                </div>
              </div><!-- .toggle-wrap -->
            </div><!-- .nk-block-head-content -->
          </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->
        <div class="nk-block">
          <div class="row g-gs">
            <div *ngFor="let class of classrooms" class="col-sm-6 col-lg-4 col-xxl-3">
              <div class="card h-100">
                <div class="card-inner">
                  <div class="d-flex justify-content-between align-items-start mb-3">
                    <a href="" class="d-flex align-items-center">
                      <div class="user-avatar sq bg-purple"><span>{{class.name}}</span></div>
                      <div class="ml-3">
                        <h6 class="title mb-1">{{class.name}}</h6>
                        <span class="sub-text">{{class.branch}}</span>
                      </div>
                    </a>
                    <div class="dropdown">
                      <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger mt-n1 mr-n1" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <ul class="link-list-opt no-bdr">
                          <li><a href="#" data-toggle="modal" data-target="#modalEdit"><em class="icon ni ni-edit"></em><span>Details</span></a></li>
                          <li><a href="#" data-toggle="modal" data-target="#modalEdit"><em class="icon ni ni-edit"></em><span>Edit Class Room</span></a></li>
                          <li><a data-toggle="modal" data-target="#modalDelete" href="#"><em class="icon ni ni-delete"></em><span>Delete ClassRoom</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <ul class="d-flex flex-wrap g-1">
                    <li  *ngFor="let prof of class.professors"><span class="badge badge-dim badge-dark">{{prof.username}}</span></li>
                  </ul>
                  <ul class="d-flex flex-wrap g-1">
                    <li  ><span class="badge badge-dim badge-success">There are {{class.users.length}} Students</span></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div><!-- .nk-block -->
      </div>
    </div>
  </div>
</div>
<!-- @@ Category Modal @e -->
<div class="modal fade" id="modalCreate">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close" data-dismiss="modal" aria-label="Close"> <em class="icon ni ni-cross-sm"></em></a>
      <div class="modal-body modal-body-md">
        <h5 class="title">Add Class Room</h5>
        <form (ngSubmit) = "onCreate()" class="pt-2">
          <div class="form-group">
            <label class="form-label" >Class Room Name</label>
            <div class="form-control-wrap">
              <input [(ngModel)]="class.name"  type="text" class="form-control" id="name" name="name" placeholder="e.g. 5 IIR 1">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Category</label>
              <select  [(ngModel)]="class.category" id="ca" name="category" class="form-control">
                <option value=1 selected>1 er</option>
                <option value=2 >2 eme</option>
                <option value=3 >3 eme</option>
                <option value=4 >4 eme</option>
                <option value=5>5 eme</option>
              </select>
          </div>
          <div class="form-group">
            <label class="form-label">Branch</label>
            <select [(ngModel)]="class.branch" id="inputState" name="branch" class="form-control">
              <option value="Informatique" selected >Informatique</option>
              <option value="Genie Cevil">Genie Cevil</option>
              <option value="Audti et Finance ">Audti et Finance</option>
            </select>
          </div>


          <div class="form-group">
            <label class="form-label">Professors</label>
            <div class="form-control-wrap">
              <select multiple  [(ngModel)]="class.professors" name="professors" >
                <ng-container  *ngFor="let prof of professors;let i=index">
                  <option   [value]="professors[i].username" >{{professors[i].username}}</option>
                </ng-container>
              </select>
            </div>


          </div>
          <div class="form-group">
            <label class="form-label">Students</label>
            <div class="form-control-wrap">
              <select multiple  [(ngModel)]="class.students" name="students" >
                <ng-container  *ngFor="let stud of students;let i=index">
                <option   [value]="students[i].username" >{{students[i].username}}</option>
                </ng-container>
              </select>
            </div>


          </div>
          <div class="form-group">
            <button (click)="onCreate()" data-dismiss="modal" type="submit" class="btn btn-primary">Save Informations</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- .Edit Modal-Content -->
<div class="modal fade" id="modalEdit">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close" data-dismiss="modal" aria-label="Close"> <em class="icon ni ni-cross-sm"></em></a>
      <div class="modal-body modal-body-md">
        <h5 class="title">Edit Category</h5>
        <form action="#" class="pt-2">
          <div class="form-group">
            <label class="form-label" >Category Name</label>
            <div class="form-control-wrap">
              <input type="text" class="form-control" id="edit-full-name" value="Web Development">
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" >Description</label>
            <div class="form-control-wrap">
              <textarea class="form-control" name="description" id="edit-description" value="Website Design & Develop the website with web applications"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" >Category thumbnail</label>
            <div class="form-control-wrap">
              <div class="custom-file">
                <input type="file" multiple class="custom-file-input" id="edit-customFile">
                <label class="custom-file-label" >Choose file</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Subcategory</label>
            <div class="d-flex gx-3 mb-3">
              <div class="g w-100">
                <div class="form-control-wrap">
                  <input type="text" class="form-control" value="Figma">
                </div>
              </div>
              <div class="g">
                <button class="btn btn-icon btn-outline-light"><em class="icon ni ni-cross"></em>
                </button>
              </div>
            </div>
            <div class="d-flex gx-3 mb-3">
              <div class="g w-100">
                <div class="form-control-wrap">
                  <input type="text" class="form-control" value="Responsive Design">
                </div>
              </div>
              <div class="g">
                <button class="btn btn-icon btn-outline-light"><em class="icon ni ni-cross"></em>
                </button>
              </div>
            </div>
            <div class="d-flex gx-3 mb-3">
              <div class="g w-100">
                <div class="form-control-wrap">
                  <input type="text" class="form-control" value="Adobe Photoshop">
                </div>
              </div>
              <div class="g">
                <button class="btn btn-icon btn-outline-light"><em class="icon ni ni-cross"></em>
                </button>
              </div>
            </div>
            <div class="d-flex gx-3 mb-3">
              <div class="g w-100">
                <div class="form-control-wrap">
                  <input type="text" class="form-control" placeholder="e.g. Web Development">
                </div>
              </div>
              <div class="g">
                <button class="btn btn-icon btn-outline-light"><em class="icon ni ni-plus"></em>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button data-dismiss="modal" type="submit" class="btn btn-primary">Save Informations</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- .Edit Modal-Content -->
<div class="modal fade" id="modalDelete">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
      <div class="modal-body modal-body-lg text-center">
        <div class="nk-modal py-4"> <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
          <h4 class="nk-modal-title">Are You Sure ?</h4>
          <div class="nk-modal-text mt-n2">
            <p class="text-soft">This event data will be removed permanently.</p>
          </div>
          <ul class="d-flex justify-content-center gx-4 mt-4">
            <li>
              <button data-dismiss="modal" id="deleteEvent" class="btn btn-success">Yes, Delete it</button>
            </li>
            <li>
              <button data-dismiss="modal" data-toggle="modal" data-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
